<!DOCTYPE html>
<html>
  
    <head>
        
        <title>404</title>
        <link rel="stylesheet" href="./css/styles.css">
         <link rel="icon" href="/weatherIcon.PNG">
        
        </head>
    <body>
        <div class="main-content">
             {{>header}}
             <p style="color: blueviolet;">
             {{message}} <br>
        </div>
       
      {{>footer}}

     
         </p>
    </body>
</html>
