<!DOCTYPE html>
<html>
    <title>About</title>
    <head><link rel="stylesheet" href="./css/styles.css">
     <link rel="icon" href="/weatherIcon.PNG">
     </head>
    <body>
      <div class="main-content">
          {{>header}}
        <p style="color: blueviolet;">
        <img class="potrait" src="./Capture.PNG" alt="BTS!Army!"> <br>
      </div>
      {{>footer}}
         </p>
    </body>
</html>
