<!DOCTYPE html>
<html>
    <head>
    <title>Help</title>
     <link rel="icon" href="/weatherIcon.PNG">
    <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
      <div class="main-content">
        {{>header}}
        <p> 
             <br>{{message}}<br>
        </p>
        </div>
      {{>footer}}
    </body>
</html>
